@font-face {
    font-family: 'raleway-extrabold';
    src: url('../fonts/raleway/raleway-extrabold-webfont.eot');
    src: url('../fonts/raleway/raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-extrabold-webfont.woff') format('woff');
         // url('raleway-extrabold-.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-light';
    src: url('../fonts/raleway/raleway-light-webfont.eot');
    src: url('../fonts/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-light-webfont.woff') format('woff');
         // url('raleway-light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-medium';
    src: url('../fonts/raleway/raleway-medium-webfont.eot');
    src: url('../fonts/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-medium-webfont.woff') format('woff');
         // url('raleway-medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway/raleway-regular-webfont.eot');
    src: url('../fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-regular-webfont.woff') format('woff');
         // url('raleway-regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway/raleway-semibold-webfont.eot');
    src: url('../fonts/raleway/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff');
         // url('raleway-semibold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff');
         // url('montserrat-light.otf') format('otf';)
    font-weight: normal;
    font-style: normal;
}
.container{
	margin: 0 auto;
	width: 1920px;
	box-sizing: border-box;
}
.page-header{
	width: 100%;
	min-height: 1024px;
	padding: 40px 150px 40px 150px;
	background-image: url('../img/headerbg.jpg');
	box-sizing: border-box;
	position: relative;
}
#logo-svg{
	width: 64px;
	height: 56px;
}
.logo-link{
	text-decoration: none;
	float: left;
	display: flex;
 	align-items: center;
	font-family: raleway-light, verdana, sans-serif;;
	font-size: 34px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.04em;
	color: #ffffff;
}
.header_top_section{
	display: flex;
	justify-content: space-between;
	padding: 0px 150px 300px 150px;
}
.menu{
	display: flex;
		.nav_menu_link{
			text-decoration: none;
			font-family: montserrat, verdana, sans-serif;;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 300;
			color: #ffffff;
			margin: 22px 30px 0px 0px;
			&:hover{
				color: darken(#ffffff, 15%);
			}
			&:active{
				color: darken(#ffffff, 30%);
			}
		}
		.nav_menu_opend-page{
			text-decoration: none;
			font-family: montserrat, verdana, sans-serif;
			font-size: 14px;
			line-height: 1.2;
			font-weight: 300;
			color: #c7b299;
			margin: 22px 30px 0px 0px;
			&:hover{
				color: saturate(#c7b299, 30%);
			}
			&:active{
				color: saturate(#c7b299, 50%);
			}
		}
}
.header_btn_basket{
	width: 23px;
	height: 30px;
	background: url('../img/header_basket.svg') no-repeat 0 0;
    border: none;
    padding: 0;
    outline: none;
    margin: 16px 28px 0px 32px;
    &:hover{
		border: 1px solid white;
		cursor: pointer;
	}
	&:active{
		outline: 2px solid white;
		cursor: pointer;
	}
}
.header_bottom_section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.header_left-btn{
    width: 40px;
	height: 73px;
	margin: 110px 0px 0px 0px;
}
#right-btn,
#left-btn{
	fill: #a3a2a0;
	&:hover{
		opacity: 0.502;
	}
}
.header_right-btn{
    width: 40px;
	height: 73px;
	margin: 110px 0px 0px 0px;
}
.header_text{
	width: 679px;
	text-align: center;
}
.unique{
	height: 34px;
	font-family: raleway-medium, verdana, sans-serif;;
	font-size: 40px;
	line-height: 1.2;
	font-weight: 500;
	color: #ffffff;
	margin: 0px 0px 24px 0px;
	display: block;
}
.portfolio{
	width: 100%;
	font-family: raleway-bold, verdana, sans-serif;
	font-size: 52px;
	line-height: 1.2;
	font-weight: 800;
	color: #ffffff;
	margin: 0px 0px 30px 0px;
	display: block;
}
.header_div_text{
	width: 666px;
	font-family: montserrat, verdana, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #ffffff;
	display: block;
	margin: 0 auto;
}
.header_bottom_section > div > a{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin: 50px auto;
	width: 170px;
	height: 53px;
	background-color: #998675;
	border-radius: 3.0px;
	font-family: raleway-bold, verdana, sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 800;
	text-transform: uppercase;
	color: #ffffff;
	&:hover{
		background: lighten(#998675, 15%);
		color: darken(#ffffff, 80%);
	}
	&:active{
		background: lighten(#998675, 20%);
		color: darken(#ffffff, 95%);
	}
}
.header_pagination{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 40px;
	left: 0;

}
.circle-pagination{
	width: 11px;
	height: 11px;
	opacity: 0.5;
	background-color: #ffffff;
	border: 1px solid black;
	border-radius: 50%;
	margin: 0px 10px 0px 0px;
	&-active{
		width: 9px;
		height: 9px;
		background-color: transparent;
		border: 2px solid #d3c1ad;
		border-radius: 50%;
		margin: 0px 10px 0px 0px;
	}
	&:hover{
		width: 9px;
		height: 9px;
		background-color: rgba(0, 0, 0, 0);
		border: 2px solid #d3c1ad;
	}
}
.page-main{
	width: 100%;
	box-sizing: border-box;
}
.section_service{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	padding: 80px 360px 80px 360px;
}
.block{
	display: flex;
	flex-direction: column;
	width: 266px;
	min-height: 250px;
	align-items: center;
	margin: 0px 30px 0px 0px;
	&:hover:after{
		content: "";
		border-bottom: 3px solid #c7b299;
		width: 70px;
		margin: 0 auto;
	}
}
#pencil,
#development,
#customization,
#marketing{
	fill: #555555;
}
.service_span{
	font-family: raleway-semibold, verdana, sans-serif;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
	margin: 29px 0px 19px 0px;
}
.service_txt{
	font-family: montserrat, verdana, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #8c8c8c;
}